nav{
    height: 30px;
    width: 25%;
    float: left;
    padding: 5px;
    line-height: 30px;
    font-size: large;
}
header{
    align-content: center;
    padding-left: 30%;
    width: 500px;
    height: 100px;
}

body{
    background-image: linear-gradient(rgb(243, 177, 177), rgb(238, 213, 192), rgb(233, 243, 177), rgb(177, 243, 182), rgb(177, 187, 243), rgb(218, 177, 243));
}
.strings{
    background-image: linear-gradient(rgb(243, 177, 177), rgb(238, 213, 192), rgb(233, 243, 177), rgb(177, 243, 182), rgb(177, 187, 243), rgb(218, 177, 243));
    height: 1000px;
}

.validation{
    margin-right: 25%;
    text-align: center;
}
table, th, td {
    border: 1px solid;
}

table{
    --margin_UD: 5%;
    margin: var(--margin_UD) auto var(--margin_UD) auto;
    width: 60%;
}

td, th{
    padding: 1%;
    text-align: center;
    width: auto;
}

tr:nth-child(even){
    background-color: rgba(0, 0, 0, 0.1);
}
